/* Login form */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  height: 100vh;
  /* overflow: hidden; */
}

* {
  font-family: "Poppins", sans-serif;
}

.login {
  background-image: url("../public/ai-matching.png");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login__logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.login__logo img {
  width: 2.5rem;
  height: 2.5rem;
}

.login__logo_name {
  color: #07a9e9;
}

.login__content {
  width: 30rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  text-align: center;
  border-radius: 0.4rem;
}

.login__desc {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
}

.login__title {
  color: #fff;
}

.login__form_input {
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0.5rem;
}

.login__form_input_top {
  background-color: #fff;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  display: flex;
  padding: 0.5rem;
}

.login__form_input_top i {
  margin-top: 0.4rem;
}

.login__form_input input,
.login__form_input select,
.login__form_input textarea,
.login__form_input_top textarea {
  border: none;
  padding-left: 1rem;
  outline: none;
  flex: 1;
  color: gray;
}

.forgot__password {
  font-size: 0.8em;
  color: rgb(212, 212, 212);
  margin-top: 0.5rem;
  cursor: pointer;
}

.login__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3em;
  max-height: 3em;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  background-color: rgb(7, 169, 233);
  color: #fff;
  font-weight: bold;
  border-radius: 0.1rem;
}

.not_member {
  margin-top: 1rem;
  color: #fff;
}

.login__signup {
  color: rgb(7, 169, 233);
  text-decoration: underline;
  cursor: pointer;
}

/* Sign up */
.sign_up {
  position: relative;
}

.sign_up__overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sign_up__overlay span {
  margin-left: 1rem;
}

.signup__overlay_text {
  display: flex;
  align-items: center;
}

.error_icon {
  color: red;
  font-size: 2rem;
}

.sign_up__forms {
  text-align: center;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign_form__title {
  font-size: 1.5rem;
  color: #fff;
  margin: 1rem 0;
}

.sign_form__short_desc {
  margin: 0;
  font-size: 0.9rem;
  color: #fff;
  font-weight: 300;
}

.sign_up__button {
  margin-top: 2rem;
  border-radius: 10rem;
}

/* Main Page */
.main-page {
  display: flex;
  height: 100vh;
}

.main_content {
  flex: 1;
  /* height: 100vh; */
  overflow: scroll;
}

.sidebar__brand {
  color: rgb(7, 169, 233);
  font-size: 1rem;
  padding-left: 1rem;
  padding-bottom: 1.15rem;
  border-bottom: 1px solid rgb(233, 233, 233);
  margin-bottom: 2rem;
}

.sidebar__brand img {
  width: 1.4rem;
  height: 1.4rem;
}

.sidebar__ {
  height: 100vh;
  padding-top: 1rem;
  position: relative;
}

.sidebar__bottom {
  position: absolute;
  bottom: 0px;
}

.upgrade__account {
  background-color: rgb(7, 169, 233);
  padding: 0.6rem 1.5rem;
  color: #fff;
  cursor: pointer;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  margin: 1rem;
}

.upgrade__texts {
  flex: 1;
  margin-left: 1rem;
}

.upgrade__text {
  margin: 0;
  font-size: 0.9rem;
}

.upgrade__text_info {
  font-size: 0.8rem;
  color: rgb(218, 218, 218);
  margin: 0;
}

.logout {
  cursor: pointer;
  margin-top: 0.5rem;
  padding-left: 1rem;
  /* text-align: center; */
}

/* .active_link {
  background-color: rgb(239, 238, 238);
} */

.user_profile {
  display: flex;
  cursor: pointer;
}

.user__avatar_wrapper {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  border-radius: 50%;
}

.user__avatar_wrapper img {
  width: 100%;
  height: 100%;
}

.profile__details {
  flex: 1;
  margin-left: 0.5rem;
}

.user__name {
  font-size: 0.9rem;
  margin: 0;
}

.user__school {
  font-size: 0.8rem;
  font-weight: 300;
  padding-top: 0.2rem;
  margin: 0;
}

.video_mui__card {
  width: 350px;
  text-align: center;
  height: 400px;
  padding: 0.5rem;
}

.video_card__title {
  font-size: 1rem;
  font-weight: bold;
}

.video_card__desc {
  font-weight: 300;
  font-size: 0.9rem;
}

.video_card__img {
  width: 250px;
  height: 250px;
  text-align: center;
  margin: 0.2rem;
}

.video_card__img img {
  width: 100%;
  height: 100%;
}

.start_video_chart {
  border: none;
  background-color: rgb(7, 169, 233);
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}
.schedule__study {
  padding: 3rem 2rem;
}

.schedule__study__heading {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  /* text-transform: uppercase; */
}

.schedule_video_text {
  font-weight: 300;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 2rem;
}

.video-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.disabled__video {
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 0.4rem;
}

/* Profile page */
.profile_top {
  position: relative;
  width: 100%;
}

.profile_bg {
  height: 7rem;
}

.profile_bg img {
  height: 100%;
  width: 100%;
}

.profile_info {
  margin: 0 2rem;
  border: 1px solid rgb(236, 236, 236);
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  bottom: 2.5rem;
  background-color: #fff;
  height: 130px;
}

.profile__img {
  height: 150px;
  width: 150px;
  position: absolute;
  overflow: hidden;
  top: -1.5rem;
  border: 0.8rem solid #fff;
  margin-left: 0.5rem;
  border-radius: 100%;
}

.profile__img img {
  width: 100%;
  height: 100%;
}

.profile_info__text {
  padding-left: 170px;
  display: flex;
}

.profile__text_left {
  flex: 1;
  border-right: 1px solid rgb(236, 236, 236);
}

.profile__text_right {
  flex: 1;
  padding-left: 1rem;
}

.profile__name {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.3rem;
}

.profile__college,
.profile__class_year {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 300;
  color: gray;
}

.learner {
  color: #07a9e9;
}

.tutor-wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-top: 2em;
}

.question-guideline {
  background-color: #07a9e9;
  color: white;
  margin-left: 3em;
  padding: 1em;
  width: 70%;
  border-radius: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 2rem auto;
}

.question {
  padding: 1em;
  margin-left: 3em;
}
.question-title {
  position: relative;
}
.writing-good-question {
  margin-left: 1em;
}
.fa-circle-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.question-guideline-title {
  position: relative;
}

.tutor-title h1 {
  font-size: 1.7rem;
  text-align: center;
}

.question-title {
  text-align: center;
  margin-top: 1rem;
}

.question-title-remark {
  font-size: 0.9rem;
  font-weight: 300;
}

.question-title-inputs input,
.tutor-preferences input {
  display: block;
  width: 80%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
  margin: 1rem auto;
  text-align: center;
}

.question-attempts,
.tutor-preferences {
  text-align: center;
}

.question-attempts textarea {
  display: block;
  width: 80%;
  border: 1px solid #ccc;
  height: 8rem;
  outline: none;
  margin: 1rem auto;
  text-align: center;
}

.submit-question {
  text-align: center;
  margin-top: 1em;
  margin-left: 8em;
  background-color: #07a9e9;
  width: 12em;
  padding: 0.3em;
  margin-bottom: 3em;
  color: white;
  margin: 3rem auto;
  cursor: pointer;
}

.submit-question:hover {
  background-color: #032a3a;
}

.selected-interests {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 1em;
  width: 50em;
  height: 4em;
  padding: 0.5em;
  margin-left: 4em;
  border-radius: 2em;
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25),
    inset -4px -4px 10px rgba(255, 255, 255, 0.7);
}

.interests-wrapper-title {
  margin-left: 3em;
  margin-top: 3em;
  position: relative;
}

.available-interests {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  padding: 1em;
  width: 30em;
  height: 20em;
  margin-left: 4em;
  border-radius: 2em;
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25),
    inset -4px -4px 10px rgba(255, 255, 255, 0.7);
  overflow-y: scroll;
  scrollbar-width: none; /* Hides scrollbar for Firefox */
  -ms-overflow-style: none;
}
.available-interests::-webkit-scrollbar {
  display: none;
}
.interest-badge {
  position: relative;
  display: inline;
  border: 1px solid;
  border-radius: 4em;
  padding: 0.4em;
  background-color: #07a9e9;
  color: white;
  margin: 0.2em;
}

.interest-badge:hover {
  border-color: #07a9e9;
  background-color: white;
  color: #07a9e9;
}

.interests-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.submit-interests {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  background-color: #07a9e9;
  height: 2em;
  padding: 0.5em;
  color: white;
}
.submit-interests:hover {
  background-color: #032a3a;
}

.available-interests-section {
  margin-top: 3em;
}
.user-interests-section {
  margin-top: 3em;
}
.interest-div {
  margin-right: 2px;
}

.fa-xmark {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  margin-left: 2em;
}
.select-interest-subtitle {
  font-weight: 100;
}

.friends-wrapper {
  margin: 3rem;
  height: 100vh;
  text-align: center;
}

.friend-title h1 {
  font-size: 1.5rem;
}

.pref {
  margin-top: 2em;
  width: 30em;
  margin: 2rem auto;
}

.find-match {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  background-color: #07a9e9;
  color: white;
  width: 10em;
  height: 3em;
  margin: 2rem auto;
  cursor: pointer;
}

.find-match:hover {
  background-color: white;
  color: #07a9e9;
  border: 1px solid;
  border-color: #07a9e9;
}

.preferences-major-input,
.preferences-course-input {
  border: 1px solid #d3d3d3;
  width: 30em;
  padding: 0.3em;
  border-radius: 0.3em;
}

.preferences-interests {
  text-align: left;
}

.preferences-interests input {
  margin-right: 0.5rem;
}

/* Topbar */
.topbar {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  border-bottom: 1px solid rgb(236, 236, 236);
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

.topbar__search {
  flex: 1;
  border: 1px solid rgb(236, 236, 236);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.topbar__search input {
  padding-left: 0.5rem;
  border: none;
  flex: 1;
  outline: none;
}

.topbar__icons {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.topbar__icon_wrapper {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 50%;
  margin: 0 0.5rem;
  cursor: pointer;
}

.topbar__icon_wrapper i {
  color: #07a9e9;
}

.topbar .user__avatar_wrapper {
  margin-left: 0.5rem;
}

.lobby-wrapper {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lobby-title {
  position: relative;
  font-size: 3em;
}
.fa-headset {
  color: #07a9e9;
  position: absolute;
  left: -60px;
  margin-right: 2em;
  top: 50%;
  transform: translateY(-50%);
}
.lobby-connnected {
  margin-top: 2em;
}
.lobby-join {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  background-color: #07a9e9;
  color: white;
  width: 12em;
  font-size: 2em;
  height: 3em;
  border-radius: 2em;
}

.lobby-join:hover {
  background-color: #032a3a;
  cursor: pointer;
}

/* Calendar */
.calendar {
  padding: 2rem 2rem;
}

.fc-toolbar-title {
  font-size: 1.3rem !important;
}

.fc-col-header-cell-cushion {
  color: #07a9e9;
}

.fc-daygrid-day-number {
  color: #07a9e9;
}

.interview {
  padding: 3rem 2rem;
}

.interview__flex {
  display: flex;
  justify-content: space-evenly;
}

.video_margin {
  margin-right: 3rem !important;
  display: inline-block;
}

.chats {
  position: relative;
  height: 80vh;
}

.chats_empty {
  position: absolute;
  width: 50rem;
  top: 40%;
  transform: translate(-50%, -60%);
  left: 50%;
  text-align: center;
}
.chats__heading {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chats__desc {
  font-weight: 300;
  font-size: 0.9rem;
}

.empty__icon {
  color: red;
  font-size: 3rem;
  margin-right: 1rem;
}
